{{define "main"}}
<section class="container mt-3">
    <div class="mt-5 col-lg-12">
        <h2 class="text-left">{{.Title}}</h2>
        {{if eq .Kind "taxonomyTerm"}}
            {{range $key, $value := .Data.Terms.Alphabetical}}
                <span class='badge badge-dark'><a class='text-white' href='{{ "tags/" | absURL }}{{ $value.Name | lower }}'>{{ $value.Name }} ({{.Count }})</a></span>
            {{end}}
        {{else}}
                    {{range .Pages}}
                    <ul>
                        <li>
                            <a href="{{.Permalink}}">{{ .Title }}</a><br>
                            {{if eq .Section "post"}}
                                <small class="text-secondary">{{.PublishDate.Format "January 2, 2006"}} | {{.ReadingTime}} minute read</small>
                            {{end}}
                        </li>
                    </ul>
                    {{end}}
            </div>
    {{end }}
</section>
{{end}}
