{{define "main"}}
<section class="col-lg-4 text-monospace sticky-top-lg" style="float:right;">
	{{- partial "hero.html" . -}}
	{{ if .Site.Params.search.enabled }}
		<hr/>
        {{partial "search.html" .}}
	{{end}}
	<hr>
	<div class="container mt-3 text-center d-none d-md-block">
		{{ range site.Taxonomies.tags }}
			<a href="{{ .Page.Permalink}}" class="badge badge-light">{{ .Page.Title }}</a>
		{{ end }}
	</div>
	<hr class="d-none d-md-block">
	<small class="d-none d-md-block">Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer’s view in any way.</small>
</section>
<section id="posts" class="col-lg-8 mt-4">
	<div>
		{{range first 6 .Site.RegularPages }}
			{{if eq .Section "post"}}
				<div class="card post">
					<div class="card-body">
					  <h3 class="font-weight-bold card-title"><a href="{{.Permalink}}">{{.Title}}</a></h3>
					  <h6 class=" card-subtitle mb-2 text-muted">{{ .PublishDate.Format "January 2, 2006" }}</h6>
					  <!--<small class="card-text">{{.Summary}}</small> -->
					  {{ .Content }}
					  <br><br>
					  <hr/>
					</div>
			  </div>
			{{end}}
		{{end}}
		</div>
</section>
<section class="container text-center mt-2" style="margin-bottom: 40px">
	<!--<a href='https://stallman.org/facebook.html' target="_blank">
		<img  class="img-responsive" src='{{ "img/no-facebook.png" | absURL }}' width="200px" alt="I'm Not On Faceboook">
	</a>-->
</section>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173461022-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173461022-1');
</script>


{{end}}

