{{define "main"}}
{{- partial "hero.html" . -}}
<section id="posts" class="container mt-4">
    {{ if .Site.Params.search.enabled }}
        {{partial "search.html" .}}
	{{end}}
	<hr>
	<div class="container mt-3 text-center">
		{{ range site.Taxonomies.tags }}
			<a href="{{ .Page.Permalink}}" class="badge badge-light">{{ .Page.Title }}</a>
		{{ end }}
	</div>
	<hr>
	<div class="card-columns mt-3">
		{{range first 6 .Site.RegularPages }}
			{{if eq .Section "post"}}
				<div class="bg-light card">
					<div class="card-body">
					  <h5 class="font-weight-bold card-title"><a href="{{.Permalink}}">{{.Title}}</a></h5>
					  <h6 class=" card-subtitle mb-2 text-muted">{{ .PublishDate.Format "January 2, 2006" }}</h6>
					  <small class="card-text">{{.Summary}}</small>
					  <a href="{{.Permalink}}" class="card-link">Read More...</a>
					</div>
			  </div>
			{{end}}
		{{end}}
		</div>
</section>
<section class="container text-center mt-2">
	<!--<a href='https://stallman.org/facebook.html' target="_blank">
		<img  class="img-responsive" src='{{ "img/no-facebook.png" | absURL }}' width="200px" alt="I'm Not On Faceboook">
	</a>-->
</section>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173461022-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173461022-1');
</script>


{{end}}

